VITE_BACKEND=http://localhost:3002

VITE_FIREBASE_API_KEY=AIzaSyCpnRUv4FOfRzZowThODavq6k5ymoiikxQ
VITE_FIREBASE_AUTH_DOMAIN=sangam-d1e5d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sangam-d1e5d
VITE_FIREBASE_STORAGE_BUCKET=sangam-d1e5d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=663528087925
VITE_FIREBASE_APP_ID=1:663528087925:web:d16678c31713dd451f333c
VITE_FIREBASE_MEASUREMENT_ID=G-81JC9PXFJ3
VITE_FIREBASE_VAPID_KEY=
